@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital@1&family=Poppins&display=swap');
body {
    background-color: #282828;
    font-family: "Poppins", "Lato", "Inter";
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    align-items: center;
}

main {
    background-color: #3500d3;
}

.main_container {
    width: 600px; 
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_container h1, h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
}

.label {
    display: flex;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}